.heart {
    top: 100px;
    left: 47%;
	position: relative;
	width: 100px;
	height: 100px;
	-webkit-transform: rotate(45deg);  /* для Chrome и Safari */
	-moz-transform: rotate(45deg); /* для Firefox */ 
	-o-transform: rotate(45deg); /* для Opera */ 
	transform: rotate(45deg);
	border: solid 1px red;
	border-top: none;
	border-left: none;
}

.heart:before, .heart:after {
	position:absolute;
	content: ' ';
	-webkit-border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	border-radius: 50px 0 0 50px;
	width: 70px;
	height: 100px;
	border: solid 1px red;
	border-right: none;
	left:-70px;
}
.heart:after {
	position: absolute;
	left: 15px;
	top: -85px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.heart {
   
	background: red;
	background: -moz-radial-gradient(170% 50%, circle , #8B0000 0%, #8B0000 52%,  red 76%);

}

.heart:before {
	background: red;
	background: -webkit-radial-gradient(15% 50%, 65px 65px, #FFE4E1, red);
	background: -moz-radial-gradient(15% 50%, circle, #FFE4E1, red 85%);
	background: -o-radial-gradient(15% 50%, 65% 65%, #FFE4E1, red);
	background: radial-gradient(15% 50%, 65% 65%, #FFE4E1, red);
}

.heart:after {
	background: red;
	background: -webkit-radial-gradient(50% 80%, 85px 80px, #FFB6C1, red, #8B0000);
	background: -moz-radial-gradient(50% 80%, circle, #FFB6C1, red, #8B0000 90%);
	background: -o-radial-gradient(50% 80%, 85px 80px, #FFB6C1, red, #8B0000);
	background: radial-gradient(50% 80%, 85px 80px, #FFB6C1, red, #8B0000);*/
}

.heart {
	animation-name: 'anime';
		/* имя кейфрейма для анимации */
	animation-duration: 300ms;
		/* длительность анимации */
	animation-iteration-count: infinite;
		/* количество повторений, в данном случае - бесконечно */
	animation-direction: alternate;
		/* проигрывать анимацию в прямом и в обратном порядке */
	animation-timing-function: ease-in;
		/* вычисление временных промежутков для анимации, в данном случае анимация ускоряется */
}

.heart {
	-webkit-animation-name: 'anime';
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes 'anime' {
	from {
		-webkit-transform: scale(1) rotate(45deg);
	}
	to {
		-webkit-transform: scale(1.1) rotate(45deg);
	}
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    transform: translateY(120px);
}


